
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  --primary-color: #800080;
  --primary-hover: #500050;
  --bs-btn-active-bg: #cc77cc;
  --bs-btn-active-color: #FFF;
}

.btn.primary{
  border: 1px solid var(--primary-color);
  color: var(--primary-color) !important;
}

.primary-bg{
  background-color: var(--primary-color);
}

.primary-color{
  color: var(--primary-color);
}

.btn.primary:hover{
  background-color: var(--primary-color);
  color: #FFF !important;
}


.btn.list-feelings{
  background-color: var(--primary-color);
  color: #FFF
}

:is(.btn-check+.btn):hover:not(.btn-check:checked+.btn){
  background-color: var(--primary-hover) ;
  color: #FFF;
}

.portfolio-item.card{
  height: 180px;
  background-color: var(--primary-color)
}