<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Exemplo de Cytoscape.js</title>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.26.0/cytoscape.min.js'></script>
</head>
<body>
    <div id="cy"></div>
    <style>
        #cy {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0px;
            left: 0px;
        }
    </style>
    <script>
        
        var elements2 = '[(${graph})]';
        json = JSON.parse(elements2);

        console.log(json);




        
        var cy = cytoscape({
        container: document.getElementById('cy'),
        elements: json,
        style: [ // Aqui você define as regras de estilo
            {
                selector: 'node', // Aplica o estilo a todos os nós
                style: {
                    'content': 'data(label)', // Exibe o nome do rótulo
                    'text-valign': 'center', // Alinha verticalmente o texto
                    'text-halign': 'center', // Alinha horizontalmente o texto
                    'background-color': 'purple',
                    'color': 'white',
                    'font-size' : '6px',
                    'width': '50px',
                    'height': '50px',
                }
            },
            // Você pode adicionar mais regras de estilo conforme necessário
        ],
        layout: {
            name: 'cose',
            // Configurações adicionais do layout, se necessário
        }
    });
    </script>
    <h1>Seu Grafo de Sentimentos</h1>
</body>
</html>







